html {
  scroll-behavior: smooth;
}

.container-app{
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.container-app .banner{
  width: 100%;
  height: 100dvh;
}

.container-app .banner img{
  width: 100%;
  height: 100dvh;
  position: relative;
  filter: brightness(60%);
}

.banner .banner-info{
  /* color: rgba(122, 122, 122, 0.911);
  mix-blend-mode: color-dodge; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.banner .banner-info h1{
  font-size: 5rem;
  height: auto;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #a64dff, #f54fd1, #a64dff); /* roxo → rosa */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .banner-info h1>svg{
  color: #a64dff;
  background: rgba(0, 0, 0, 0.219);
  border-radius: 5px;
}

.banner .banner-info p{
  color: rgba(255, 255, 255, 0.80);
  font-size: 1.5rem;
}

.banner .btns-banner {
  display: flex;
  gap: 3rem;
  width: fit-content;
}

.banner .btns-banner a{
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.80);
  padding: 0.6rem 1.6rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(90deg, #a64dff, #f54fd1, #a64dff); /* roxo → rosa */
}

.banner .btns-banner .link{
  color: rgba(255, 255, 255, 0.90);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.60);
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.container-info{
  width: 100%;
  background: #1e1e1e;
}

.container-info .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.info h1{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.80);
}

.info p{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.60);
}

.container-info .cards{
  margin-top: 3rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.container-confirm{
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.container-confirm h2{
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  font-weight: 600;
}

.container-confirm p{
  color: rgba(255, 255, 255, 0.60);
}

.container-confirm a{
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  width: fit-content;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.6rem 1.6rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(90deg, #a64dff, #f54fdf 80%); /* roxo → rosa */
  margin-top: 20px;
}